[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
autopep8 = "*"
autohooks = {git = "https://github.com/LeoIV/autohooks"}
autohooks-plugin-autopep8 = {path = "."}

[dev-packages]
pytest = "*"
